// Vars
//––––––––––––––––––––––––––––––––––––––––––––––––––

//Colors

$main-color: #4A5D7D;
$second-color: #6654E8;
$main-lighter: #8C93A7;

$gray: #C0C7D3;
$gray-light: #F1F2F9;
$gray-lighter: #F9F9FB;
